body {
    font-size: 16px;
}

a {
  color: #036;
}

a:active, a:hover, a:focus {
  color: #036;
}

.footer {
    margin-top: 100px;
}

.bg {
  background: url('/images/banners/brentano_front_2.png') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #036 0 1px 1px;
  background:transparent;
}