body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

a {
  color: #048;
}

a:active, a:hover, a:focus {
  color: #048;
}

.footer {
  margin-top: 100px;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  height: 350px;
  color: white;
  text-align: center;
  text-shadow: #048 0 1px 1px;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url('/images/large/bg.png') no-repeat center center;
}

.jumbotron h1 { font-size: 84px; }