body {
    font-size: 16px;
}

a {
  color: #036;
}

a:active, a:hover, a:focus {
  color: #036;
}

.footer {
  margin-top: 100px;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  height: 350px;
  color: white;
  text-align: center;
  text-shadow: #036 0 1px 1px;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url('/images/banners/brentano_front_2.png') no-repeat center center;
}