---
layout: default
title: Staff Directory
description:
---
<h1>Staff Directory</h1>
<div class="row">
    <div class="col-sm-8">
        <h4>Pre-K through 2nd grade</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Teacher</th>
                    <th>Room</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for member in site.categories['staff_lower'] %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.room }}</td>
                    <td>{{ member.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4>3rd through 8th grade</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Teacher</th>
                    <th>Room</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for member in site.categories['staff_upper'] %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.room }}</td>
                    <td>{{ member.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4>Support</h4>
        <table class="table table-condensed">
            <tbody>
                <thead>
                    <tr>
                        <th>Staff member</th>
                        <th>Room</th>
                        <th>Title</th>
                    </tr>
                </thead>
                {% for member in site.categories['staff_support'] %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.room }}</td>
                    <td>{{ member.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4>Administrative</h4>
        <table class="table table-condensed">
            <tbody>
                <thead>
                    <tr>
                        <th>Staff member</th>
                        <th>Title</th>
                    </tr>
                </thead>
                {% for member in site.categories['staff_admin'] %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col-sm-4"></div>
</div>
